mat-grid-tile {
  box-sizing: border-box;
}

mat-grid-list {
  width: 100vw;
  height: calc(100vh - 64px - 32px);
}

.estimation {
  margin: 30px;
  display: flex;
}

.estimation > app-task-item {
  height: 100%;
  margin: 5px;
}

app-estimation {
  margin-left: 50px;
}

/deep/ .estimation > app-task-item > mat-card {
  height: 100% !important;
}

mat-card {
  margin: 10px;
}

.tasks-container {
  height: calc(100vh - 128px);
  overflow-y: scroll;
  width: 100%;
}

.slacking-container{
  margin-top: 1em;
}

.slacking-header {
  float: left;
  margin-right: 1em;
  text-align: center;
}
.center{
  display: block;
  margin: 0 auto;
  width: fit-content;
}


.slacking-message {
  text-align: center;
}
