<mat-toolbar color="primary">Create task</mat-toolbar>
<mat-card-content>
  <form class="column-container" #taskForm="ngForm" (ngSubmit)="onCreateTask(taskForm)">
    <mat-form-field class="first-form-field">
      <input matInput placeholder="Enter task name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Enter task description" [(ngModel)]="description" [ngModelOptions]="{standalone: true}"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" fxFlex="100" [disabled]="!taskForm.form.valid" type="submit">Create</button>
  </form>
</mat-card-content>

