<mat-grid-list cols="15" rowHeight="fit" gutterSize="5">
  <mat-grid-tile [colspan]="15" [rowspan]="8">

    <div fxLayout="column" class="tasks-container">
      <div *ngIf="taskToEstimate" fxFill class="estimation-card">
        <h3>Estimation</h3>
        <div fxLayout="row" fxLayoutAlign="space-around center" class="estimation">
          <app-task-item [task]="taskToEstimate"></app-task-item>
          <app-estimation-result [values]="estimation"></app-estimation-result>
          <app-estimate-submit class="controls" [estimationResult]="estimationMedian" (estimation)="estimate($event)"></app-estimate-submit>
        </div>
      </div>

      <h3 *ngIf="tasks.length > 0">Tasks</h3>
      <h3 *ngIf="tasks.length == 0">Please add some tasks</h3>
      <app-task-list [tasks]="tasks" [tasksVotes]="service.taskVotes" (taskSelected)="selectedToEstimate($event)"></app-task-list>
    </div>

  </mat-grid-tile>
</mat-grid-list>
<app-menu (emitter)="onMenuChange($event)"></app-menu>
