mat-grid-tile{
  box-sizing: border-box;
}
mat-grid-list{
  width: 100vw;
  height: calc(100vh - 64px - 32px);
}

mat-card{
  margin: 10px;
}
.estimation{
  display: flex;
}
app-estimation-result{
  margin-left: 50px;
}
span{
  margin-left: 100px;
  float: right;
  font-size: .8em;
}
.controls{
  position: absolute;
  right: 10%;
  display: flex;
  flex-direction: column;
}
.estimation-card{
  margin: 20px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #673ab7;
}
